footer
  .container.text-center
    p.pull-left © 2016 Team Life
    ul.pull-right.list-inline
      li
        a(href='https://github.com/Keitarokido/life-of-another') GitHub Project
      li
        a(href='https://github.com/Keitarokido/life-of-another/issues') Issues
      li
        a(href='https://workflowy.com/#/d6d05d68ce2e') WorkFlowy
